.picker {
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 260px;
  padding: 12px;
  cursor: pointer;
  transition: background 150ms ease-in-out;
  position: relative;

  &:hover {
    background: rgba(245, 247, 247, 0.5);
  }

  &.isOpen {
    background: #f5f7f7;

    .labelText img {
      transform: rotate(180deg);
    }
  }
}

.pickerIcon {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.labelText {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #a7aaab;
  text-transform: uppercase;
  margin-bottom: 2px;

  img {
    margin-left: 6px;
  }
}

@media (max-width: 480px) {
  .picker {
    flex: 1;
    margin: 0;
    border-radius: 16px;

    .pickerIcon {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
}
